/* line 1, ../sass/caffyblocks-admin.scss */
.text-center {
  text-align: center;
}

/* line 4, ../sass/caffyblocks-admin.scss */
.float-right {
  float: right;
  vertical-align: middle;
  line-height: 30px;
}

/* line 9, ../sass/caffyblocks-admin.scss */
.float-left {
  float: left;
}

/* line 12, ../sass/caffyblocks-admin.scss */
.clr {
  clear: both;
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/caffyblocks-admin.scss */
.button {
  display: inline-block;
}

/* line 20, ../sass/caffyblocks-admin.scss */
th, td {
  vertical-align: top;
}

/* line 23, ../sass/caffyblocks-admin.scss */
em {
  font-style: italic;
  font-size: 12px;
  color: #999;
}
/* line 27, ../sass/caffyblocks-admin.scss */
label em {
  display: inline-block;
  padding: 0 6px;
}

/* line 32, ../sass/caffyblocks-admin.scss */
.room-container {
  border: 1px solid #ddd;
  color: #000;
  margin-bottom: 20px;
}

/* line 37, ../sass/caffyblocks-admin.scss */
.room-header {
  padding: 4px 10px;
  border-bottom: 1px solid #ddd;
  background: #f1f1f1;
}
/* line 41, ../sass/caffyblocks-admin.scss */
.room-header h3 {
  padding: 6px 0;
}

/* line 45, ../sass/caffyblocks-admin.scss */
.room-expand {
  float: right;
  margin: 10px 8px 0 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 12px 9px;
  border-color: transparent transparent #000 transparent;
}
/* line 53, ../sass/caffyblocks-admin.scss */
.collapsed .room-expand {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 9px 0 9px;
  border-color: #000 transparent transparent transparent;
}

/* line 61, ../sass/caffyblocks-admin.scss */
.room-content {
  padding: 6px 10px;
  background: #fff;
}
/* line 64, ../sass/caffyblocks-admin.scss */
.room-content li {
  margin: 0;
  padding: 5px 0;
}
/* line 68, ../sass/caffyblocks-admin.scss */
.room-content h4 {
  vertical-align: middle;
}
/* line 70, ../sass/caffyblocks-admin.scss */
.room-content h4 img {
  vertical-align: middle;
  margin: 5px;
}
/* line 75, ../sass/caffyblocks-admin.scss */
.room-content label {
  display: block;
  vertical-align: middle;
  padding: 5px 0;
}
/* line 79, ../sass/caffyblocks-admin.scss */
.room-content label input {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
}
/* line 83, ../sass/caffyblocks-admin.scss */
.room-content label input[type=radio] {
  width: 14px;
  height: 14px;
}

/* line 90, ../sass/caffyblocks-admin.scss */
.room-block {
  border: 1px solid #ededed;
  padding: 8px 10px;
}
/* line 93, ../sass/caffyblocks-admin.scss */
.room-block + .room-block {
  border-top: none;
}

/* line 101, ../sass/caffyblocks-admin.scss */
.room-block-child-tabs .room-block-child-container {
  margin-top: -1px;
}

/* line 105, ../sass/caffyblocks-admin.scss */
.room-block-child {
  border: 1px solid #ededed;
  padding: 5px 10px;
  margin: 0 10px;
}
/* line 109, ../sass/caffyblocks-admin.scss */
.room-block-child p, .room-block-child img {
  vertical-align: middle;
}
/* line 112, ../sass/caffyblocks-admin.scss */
.room-block-child img {
  margin-right: 5px;
}
/* line 115, ../sass/caffyblocks-admin.scss */
.room-block-child .float-right {
  line-height: 50px;
}

/* line 122, ../sass/caffyblocks-admin.scss */
.room-block-child-tabs {
  margin-bottom: -1px;
}
/* line 124, ../sass/caffyblocks-admin.scss */
.room-block-child-tabs ul {
  margin: 0;
  padding: 0;
}
/* line 127, ../sass/caffyblocks-admin.scss */
.room-block .room-block-child-tabs ul {
  margin-left: 10px;
}
/* line 131, ../sass/caffyblocks-admin.scss */
.room-block-child-tabs li {
  padding: 0;
  display: inline-block;
}

/* line 136, ../sass/caffyblocks-admin.scss */
.room-tab {
  display: block;
  padding: 5px 12px;
  border-bottom: 1px solid #ededed;
  text-decoration: none;
}

/* line 142, ../sass/caffyblocks-admin.scss */
.room-tab-current {
  border: 1px solid #ededed;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}

/* line 150, ../sass/caffyblocks-admin.scss */
.room-cols {
  display: table;
  width: 100%;
}

/* line 154, ../sass/caffyblocks-admin.scss */
.room-col {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}

/* line 159, ../sass/caffyblocks-admin.scss */
.room-col-half {
  width: 50%;
}

/* line 162, ../sass/caffyblocks-admin.scss */
.mini-block {
  border: 1px solid #ededed;
  padding: 10px;
  margin-bottom: 20px;
}

/* line 188, ../sass/caffyblocks-admin.scss */
.room-footer {
  border-top: 1px solid #ddd;
  background: #f1f1f1;
  padding: 4px 10px;
}
/* line 192, ../sass/caffyblocks-admin.scss */
.room-footer p {
  margin-top: 0;
  font-size: 12px;
}

/* line 199, ../sass/caffyblocks-admin.scss */
.caffyblocks-menu {
  margin: 5px 0 0 0;
}
/* line 202, ../sass/caffyblocks-admin.scss */
.caffyblocks-menu li {
  margin-bottom: 2px;
}
/* line 206, ../sass/caffyblocks-admin.scss */
.caffyblocks-menu a {
  background: #bebebe;
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 14px;
  padding: 7px;
  transition: all 0.3s;
}
/* line 215, ../sass/caffyblocks-admin.scss */
.caffyblocks-menu a:focus, .caffyblocks-menu a:active {
  outline: 0px none;
  box-shadow: none;
  color: #fff;
}
/* line 223, ../sass/caffyblocks-admin.scss */
.caffyblocks-menu .current-menu-item a,
.caffyblocks-menu a:hover {
  background: #177cb5;
  color: #fff;
}

/* line 230, ../sass/caffyblocks-admin.scss */
.room-container .accessory-loading {
  height: 25px;
}
