.text-center {
	text-align: center;
}
.float-right {
	float: right;
  vertical-align: middle;
  line-height: 30px;
}
.float-left {
  float: left;
}
.clr {
  clear: both;
  margin: 0;
  padding: 0;
}
.button {
	display: inline-block;
}
th, td {
  vertical-align: top;
}
em {
	font-style: italic;
	font-size: 12px;
	color: #999;
  label & {
    display: inline-block;
    padding: 0 6px;
  }
}
.room-container {
	border: 1px solid #ddd;
	color: #000;
	margin-bottom: 20px;
}
.room-header {
	padding: 4px 10px;
	border-bottom: 1px solid #ddd;
	background: #f1f1f1;
  h3 {
    padding: 6px 0;
  }
}
.room-expand {
  float: right;
  margin: 10px 8px 0 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 12px 9px;
  border-color: transparent transparent #000 transparent;
  .collapsed & {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 9px 0 9px;
    border-color: #000 transparent transparent transparent;
  }
}
.room-content {
	padding: 6px 10px;
	background: #fff;
  li {
  	margin: 0;
  	padding: 5px 0;
  }
  h4 {
  	vertical-align: middle;
    img {
      vertical-align: middle;
      margin: 5px;
    }
  }
  label {
  	display: block;
  	vertical-align: middle;
  	padding: 5px 0;
    input {
    	display: inline-block;
    	vertical-align: middle;
    	margin: 0 4px;
      &[type=radio]{
        width: 14px;
        height: 14px;
      }
    }
  }
}
.room-block {
  border: 1px solid #ededed;
  padding: 8px 10px;
  + .room-block {
    border-top: none;
  }
}
.room-block-thumb {

}
.room-block-child-container {
  .room-block-child-tabs & {
    margin-top: -1px;
  }
}
.room-block-child {
  border: 1px solid #ededed;
  padding: 5px 10px;
  margin: 0 10px;
  p, img {
    vertical-align: middle;
  }
  img {
    margin-right: 5px;
  }
  .float-right {
    line-height: 50px;
  }
}
.room-child-remove {

}
.room-block-child-tabs {
  margin-bottom: -1px;
  ul {
    margin: 0;
    padding: 0;
    .room-block & {
      margin-left: 10px;
    }
  }
  li {
    padding: 0;
    display: inline-block;
  }
}
.room-tab {
  display: block;
  padding: 5px 12px;
  border-bottom: 1px solid #ededed;
  text-decoration: none;
}
.room-tab-current {
  border: 1px solid #ededed;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}
.room-child-select {

}
.room-cols {
  display: table;
  width: 100%;
}
.room-col {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}
.room-col-half {
  width: 50%;
}
.mini-block {
  border: 1px solid #ededed;
  padding: 10px;
  margin-bottom: 20px;
}
.mini-bio {

}
.mini-ad-code {

}
.selected-posts {

}
.selected-posts-delete {

}
.add-posts {

}
.room-block-add {

}
.room-block-delete {

}
.room-footer {
	border-top: 1px solid #ddd;
	background: #f1f1f1;
	padding: 4px 10px;
  p {
  	margin-top: 0;
  	font-size: 12px;
  }
}

// Left menu
.caffyblocks-menu {
  margin: 5px 0 0 0;

  li {
    margin-bottom: 2px;
  }

  a {
    background: #bebebe;
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 7px;
    transition: all 0.3s;

    &:focus,
    &:active {
      outline: 0px none;
      box-shadow: none;
      color: #fff;
    }
  }

  .current-menu-item a,
  a:hover {
    background: #177cb5;
    color: #fff;
  }
}

.room-container .accessory-loading {
	height: 25px;
}